body {
  background-color: Porcelain;
  font-family: 'Muli', sans-serif;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

section p:first-of-type {
  font-size: 120%
}

.primary-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  background: rgba(0, 0, 0, 0.8);
}

.primary-nav ul {
  padding: 0;
  margin: 0;
}

.primary-nav li {
  display: inline;
}

.primary-nav a {
  display: inline-block;
  padding: 20px;
  color: white;
  text-decoration: none;
}

.primary-nav a:hover {
  background: rgba(255,255,255,.3);
}

.page {
  display: block;
  width: 100%;
  height: 100vh;
  padding: 25px;
  margin: 0;
  border-bottom: 10px solid silver;
  text-align: center;
}

.burnham-squad {
  text-align: left;
}

.software-image {
  text-align: center;
  margin-bottom: 100%;
  margin-top: -21.3%;
}

.cyber-image {
  text-align: right;
  margin-bottom: 100%;
  margin-top: -121.3%;
  padding-right: 10px;
}
