body {
  background-color: #d7e4e1;
  font-family: Verdana, Helvetica, sans-serif;
}

section p:first-of-type {
  font-size: 120%
}

.primary-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  background: rgba(0, 0, 0, 0.8);

}

.priamry-nav ul {
  padding: 0;
  margin: 0;
}

.primary-nav li {
  display: inline;
}

.primary-nav a {
  display: inline-block;
  padding: 20px;
  color: white;
  text-decoration: none;
}

.primary-nav a:hover {
  background: rgba(255,255,255,.3);
}

.page {
  display: block;
  width: 100%;
  height: 100vh;
  padding: 50px 20px 20px;
  margin: 0;
  border-bottom: 20px solid black;
}
